#dock {
    position: fixed;
    bottom: 10px;
    width: calc(100% - 20px);
    margin-left: 10px;
    border-radius: 28px;
    height: 65px;
    padding: 10px 0;


    // glass effect
    background: rgba(7, 7, 7, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    .dock-item {
        display: inline-block;
        width: 45px;
        height: 100%;
        background-color: #d8e1eb;
        border-radius: 10px;
        margin-left: 10px;
        padding-left: 10px;
        padding-top: 9px;

        overflow: hidden;

        ion-icon {
            font-size: 25px;
        }
    }
}