<ion-header [translucent]="true">

  <!-- <div id="search-container">
    <input type="text" class="input">
  </div> -->

  <ion-searchbar [debounce]="500" class="searchbar"></ion-searchbar>
    
</ion-header>

<ion-content [fullscreen]="true">

  <div class="home-body">
    <div *ngFor="let i of data">
      
      <!-- todo don't use ion-card, use bootstrap card -->
      <div class="card-style mt-10px mx-10px" routerLink="/lyrics" [queryParams]="{id: i.id}">

        <div class="icon-box mr-10px">
          <ion-icon name="musical-note" class="f-16px"></ion-icon> 
        </div>

        <span class="f-16px f-w600">{{ i.title }}</span>
      </div>

    </div>
  </div>

</ion-content>
